{% load static %}

<div
  x-data="{ dataEvents: [] }"
  x-init="dataEvents = await fetchEvents().then((data) => data )"
>
  <template x-for="(eventData, index) in dataEvents" :key="index">
    <div>
      <div class="row mb-4">
        <div class="col">
          <h3 x-text="eventData[0]"></h3>
        </div>
      </div>
      <div class="row">
        <template x-for="eventDetails in eventData[1]" :key="eventDetails.id++">
          <div class="col-sm-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <span  x-text="eventDetails.title"></span>
                  {% if user.is_secretary %}
                    <a x-bind:href="eventDetails.url_events_edit_event">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                  {% endif %}
                </h5>
                
                <p class="card-text" x-text="eventDetails.descriptions"></p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Data: <span x-text="eventDetails.start_date"></span></li>
                  <li class="list-group-item">Fim: <span x-text="eventDetails.end_date"></span></li>
                  <li class="list-group-item">Investimento: <span x-text="eventDetails.price"></span></li>
                  <li class="list-group-item">Categoria: <span x-text="eventDetails.category"></span></li>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  Local: <span x-text="eventDetails.location.name"></span>
                </small>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </template>
</div>

{% block pre_alpine_scripts %}
  <script src="{% static 'js/includes/list_events.js' %}"></script>
{% endblock %}