{% load static %}

<div x-data>
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <label for="start_date">Início:</label>
      <input
        type="date"
        id="start_date"
        name="start_date"
        x-model="start_date"
        x-ref="input_start_date"
      />
    </div>

    <div class="p-2">
      <label for="end_date">Fim:</label>
      <input
        type="date"
        id="end_date"
        name="end_date"
        x-model="end_date"
        x-ref="input_end_date"
      />
    </div>

  </div>

  <div x-data class="d-grid gap-2 col-6 mx-auto p-3">
    <button
      type="button"
      class="btn btn-outline-info"
      x-on:click="$store.allEvents.findByDate($refs.input_start_date._x_model.get(), $refs.input_end_date._x_model.get())"
    >
      Ver Mais
    </button>
  </div>
</div>

<div
  x-data
  id="list-events"
  class="justify-content-center p-3"
>
      <h3>Eventos</h3>
      <div class="row">
        <template x-for="(eventData, index) in $store.allEvents.dataEvents" :key="index">
          <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <span  x-text="eventData.title"></span>
                  {% if user.is_secretary or user.is_superuser%}
                    <a x-bind:href="eventData.url_events_edit_event">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                  {% endif %}
                </h5>
                
                <p class="card-text" x-text="eventData.descriptions"></p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Data: <span x-text="new Date(eventData.start_date ).toLocaleString('pt-BR')"></span></li>
                  <li class="list-group-item">Fim: <span x-text="new Date(eventData.end_date ).toLocaleString('pt-BR')"></span></li>
                  <li class="list-group-item">Investimento: <span x-text="eventData.price"></span></li>
                  <li class="list-group-item">Categoria: <span x-text="eventData.category"></span></li>
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  Local: <span x-text="eventData.location"></span>
                </small>
              </div>
            </div>
          </div>
        </template>
      </div>
</div>

{% block pre_alpine_scripts %}
  <script src="{% static 'js/includes/list_events.js' %}"></script>
{% endblock %}