Django==5.2.4
django_resized==1.0.3
djangorestframework==3.16.0
model_bakery==1.20.5
model_mommy==2.0.0
django-phonenumber-field==7.1.0
phonenumber_field==0.0.1
Pillow==11.3.0
python-decouple==3.8
python_dateutil==2.9.0.post0
weasyprint==65.1
xhtml2pdf==0.2.17
