{% extends 'core/base.html' %} {% block content %}
  {% load static %}
  <div class="container">
    <div class="col-12">
      <div class="row justify-content-center">
        {% if 'agenda-update' in request.resolver_match.view_name %}
          <p class="fs-3 text-center">Altere Assunto</p>
        {% else %}
          <p class="fs-3 text-center">Adicionar Assunto</p>
        {% endif %}

        <div class="col-7">
          {% if 'agenda-update' in request.resolver_match.view_name %}
            <form action="{% url 'secretarial:agenda-update' agenda.pk %}" method="POST">
          {% else %}
            <form action="{% url 'secretarial:agenda-create' %}" method="POST">
          {% endif %}
          {% csrf_token %}
          {{form.media}} {{form}}
          <input type="submit" value="Salvar" class="btn btn-primary mt-2" />
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7 text-center">

        <p class="fw-bold">Assuntos cadastrados</p>
        {% for at in agenda_titles %}
          <a href="{% url 'secretarial:agenda-update' at.pk %}"><p>{{at}}</p></a>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
  </div>
{% endblock %}