{% extends 'core/base.html' %} {% block content %}
{% load static %}

<div class="container">
  <div class="container text-center">
    <p class="fs-3 fw-light">Projetos de Atas</p>
  </div>
  <div class="container">
    <div class="col-12 mx-auto">
      {% if minutes %}
      {% for m in minutes %}
      <div class="row">
        <div class="col-3">
          {{m.meeting_date}}<br>
          <a href="{% url 'secretarial:minute-creation-form-view' m.id %}" class="btn btn-primary">Criar ata</a>
          <form method="post" action="{% url 'secretarial:delete-minute-project' m.id %}" style="display: inline;" onsubmit="return confirm('Tem certeza que deseja excluir este projeto de ata?')">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger ms-2">Excluir</button>
          </form>
        </div>
        <div class="col-9">
          {{m.body|safe}}
        </div>
      </div>
      {% endfor %}

          {% else %}
          <div class="container">
          <p>Não há projetos de atas registrados...</p>

          </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}