{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/ckedit.css' %}"> -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/worship.css' %}">

<div class="container text-center" x-data="songSearch">
    <p class="fs-1">Departamento de Música</p>

    <!-- Add Song Button -->
    <button type="button" class="btn btn-primary rounded-circle"
        style="position: fixed; bottom: 20px; right: 20px; width: 60px; height: 60px; font-size: 24px;"
        data-bs-toggle="modal" data-bs-target="#addSongModal">
        +
    </button>

    <!-- Search Input -->
    <div class="d-flex justify-content-center">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Busca uma canção..." x-model="query"
                x-on:input.debounce.300ms="searchSongs">
        </div>
    </div>

    <!-- Responsive Results Display -->
    <div class="mt-4 row">
        
            <!-- Results by Title -->
            <div class="col-lg-6 mb-4">
                <div class="result-category" x-show="results.title_matches.length > 0">
                    <p class="fs-3">Resultados por Título</p>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Artista</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="item in results.title_matches" :key="item.id">
                                <tr>
                                    <td>
                                        <a :href="getSongDetailUrl(item.id)" x-text="item.title"></a>
                                    </td>
                                    <td x-text="item.artist"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- Results by Artist -->
            <div class="col-lg-6 mb-4">
                <div class="result-category" x-show="results.artist_matches.length > 0">
                    <p class="fs-3">Resultados por Artista</p>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Artista</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="item in results.artist_matches" :key="item.id">
                                <tr>
                                    <td>
                                        <a :href="getSongDetailUrl(item.id)" x-text="item.title"></a>
                                    </td>
                                    <td x-text="item.artist"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- Results by Lyrics -->
            <div class="col-lg-6 mb-4">
                <div class="result-category" x-show="results.lyrics_matches.length > 0">
                    <p class="fs-3">Resultados por Letras</p>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Artista</th>
                                <th scope="col">Trecho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="item in results.lyrics_matches" :key="item.id">
                                <tr>
                                    <td>
                                        <a :href="getSongDetailUrl(item.id)" x-text="item.title"></a>
                                    </td>
                                    <td x-text="item.artist"></td>
                                    <td x-html="item.snippet"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- Results by Theme -->
            <div class="col-lg-6 mb-4">
                <div class="result-category" x-show="results.theme_matches.length > 0">
                    <p class="fs-3">Resultados por Tema</p>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Temas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="item in results.theme_matches" :key="item.id">
                                <tr>
                                    <td>
                                        <a :href="getSongDetailUrl(item.id)" x-text="item.title"></a>
                                    </td>
                                    <td x-text="item.theme.join(', ')"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

    <!-- Add Song Modal -->
    <div class="modal fade" id="addSongModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar nova canção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form x-data="songForm()" x-init="initAddSongForm()" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="songTitle" class="form-label">Título</label>
                                    <input type="text" id="songTitle" class="form-control" x-model="title" required>
                                </div>
                                <div class="mb-3">
                                    <label for="artist" class="form-label">Compositor</label>
                                    <select id="artist" class="form-control" x-model="artist">
                                        <option value="">Selecione um compositor</option>
                                        <template x-for="artist in artists" :key="artist.id">
                                            <option :value="artist.id" x-text="artist.text"></option>
                                        </template>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="theme" class="form-label">Tema</label>
                                    <select id="theme" class="form-control" x-model="theme">
                                        <option value="">Selecione um tema</option>
                                        <template x-for="theme in themes" :key="theme.id">
                                            <option :value="theme.id" x-text="theme.text"></option>
                                        </template>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="hymnal" class="form-label">Hinário</label>
                                    <select id="hymnal" class="form-control" x-model="hymnal">
                                        <option value="">Selecione um hinário</option>
                                        <template x-for="hymnal in hymnals" :key="hymnal.id">
                                            <option :value="hymnal.id" x-text="hymnal.text"></option>
                                        </template>
                                    </select>
                                </div>
                                <div class="mb-3" class="editor-div">
                                    <label for="metrics" class="form-label">Métrica</label>
                                    <input type="text" id="songMetrics" class="form-control" x-model="metrics">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div id="editor"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" @click="submitForm">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/song_search.js' %}"></script>
{% endblock %}