{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diácono IBARECISA</title>
        {% block pre_alpine_scripts %}
        {% endblock pre_alpine_scripts %}
        <script defer src="{% static 'js/cdn.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'img/icons/font/bootstrap-icons.css' %}">
    </head>

    <body>
        <link rel="stylesheet" href="{% static 'css/bootstrap5.3/bootstrap.min.css' %}">

        {% include 'core/navbar.html' %} {% include 'core/messages.html' %} {% block content %} {% endblock %}
        <script src="{% static 'js/bootstrap5.3/bootstrap.bundle.min.js' %}"></script>
    </body>

</html>
