{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-info p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'core:home' %}"><img src="{% static 'img/logo.jpg' %}" width="35"
        height="35"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="{% url 'core:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'core:about' %}">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'blog:home' %}">Blog</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'users:user-profile' user.id %}">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'events:home' %}">Eventos</a>
        </li>

        <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="nav-link mx-2 btn btn-link">Logout</button>
            </form>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'users:register' %}">Cadastrar</a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'core:config' %}">Config</a>
        </li>
        {% endif %}
        {% if user.is_staff or user.type == "REGULAR" %}
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Operações
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'secretarial:home' %}">Secretaria</a></li>
            <li><a class="dropdown-item" href="{% url 'treasury:home' %}">Tesouraria</a>
              <ul class="dropdown-submenu">
                <li><a class="dropdown-item" href="{% url 'treasury:list-financial-reports' %}">Relatórios</a></li>
              </ul>
            </li>
        </li>
      </ul>
      {% endif %}
      </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-google-plus-square"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-facebook-square"></i></a>
        </li>
      </ul>
    </div>
  </div>

</nav>
