{% extends 'core/base.html' %}

{% block content %}
  <div class="container text-center">
    <p class="fs-3 fw-light">Relatório Analítico de {{ report.month.month }}/{{ report.month.year }}</p>
    <p class="fw-light">Esse relatório contém as informações condensadas das transações financeiras do mês.</p>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Relatório Analítico Mensal</h2>
        <p>
          <strong>Competência:</strong> {{ report.month }}
        </p>
        <p>
          <strong>Saldo anterior:</strong> {{ report.previous_month_balance }}
        </p>
        <p>
          <strong>Transações positivas:</strong>
          <span class="text-success fw-bold">{{ report.total_positive_transactions }}</span>
        </p>
        <p>
          <strong>Transações negativas:</strong>
          <span class="text-danger fw-bold">{{ report.total_negative_transactions }}</span>
        </p>
        {% if report.in_cash != 0 or report.in_current_account != 0 or report.in_savings_account != 0 %}
          <p>
            <strong>Em dinheiro:</strong> {% if report.in_cash != 0 %}{{ report.in_cash }}{% endif %}
          </p>
          <p>
            <strong>Em poupança:</strong> {% if report.in_current_account != 0 %}{{ report.in_current_account }}{% endif %}
          </p>
          <p>
            <strong>Em conta-corrente:</strong> {% if report.in_savings_account != 0 %}{{ report.in_savings_account }}{% endif %}
          </p>
        {% else %}
          <p>
            <strong>Resultado mensal:</strong>
            {% if report.monthly_result >= 0 %}
              <span class="text-success fw-bold">{{ report.monthly_result }}</span>
            {% else %}
              <span class="text-danger fw-bold">{{ report.monthly_result }}</span>
            {% endif %}
          </p>
          <p>
            <strong>Saldo:</strong>
            {% if report.total_balance >= 0 %}
              <span class="text-success fw-bold">{{ report.total_balance }}</span>
            {% else %}
              <span class="text-danger fw-bold">{{ report.total_balance }}</span>
            {% endif %}
          </p>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h2>Transações mensais por categoria</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in report.monthlytransactionbycategorymodel_set.all %}
                <tr>
                  <td>{{ transaction.category }}</td>
                  <td>
                    {% if transaction.is_positive %}
                      <span class="text-success">{{ transaction.total_amount }}</span>
                    {% else %}
                      <span class="text-danger">{{ transaction.total_amount }}</span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <a href="{% url 'treasury:export-anreport-pdf' pk_value %}" class="btn btn-primary">Gerar PDF</a>
      </div>
      {% if user.is_staff and user.is_treasurer %}
        <div class="col-auto">
          <form id="deleteForm" action="{% url 'treasury:delete-an_report' pk_value %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Deletar Relatório" />
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
