{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{% static 'css/report.css' %}" />
    </head>

    <body>

        <body>
            <div class="card-body">
                <div class="container">
                    <p class="header">{{church_info.name}} - {{church_info.CNPJ}}</p>
                    <p class="sub-header">RELATÓRIO ANALÍTICO de {{month}}/{{year}}</p>
                    <table class="table">
                        <colgroup>
                            <col style="width: 70%;">
                            <col style="width: 30%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <p class="header">Descrição</p>
                                </th>
                                <th scope="col">
                                    <p class="header">Valor</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="item-text">Saldo do mês anterior</p>
                                </td>
                                <td>
                                    <p class="{% if pm_balance >= 0 %}item-text-green{% else %}item-text-red{% endif %}">R$ {{pm_balance}}</p>
                                </td>

                                <tr>
                                    <td>-</td>
                                </tr>
                                {% for category, value in p_transactions.items %}
                                    <tr>
                                        <td>
                                            <p class="item-text">{{ category }}</p>
                                        </td>
                                        <td>
                                            <p class="item-text-green">R$ {{ value }}</p>
                                        </td>
                                    </tr>
                                {% endfor%}
                                <tr>
                                    <td>
                                        <p class="item-text-bold">Total de Entradas</p>
                                    </td>
                                    <td>
                                        <p class="item-text-green">R$ {{ total_p }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                </tr>
                                {% for category, value in n_transactions.items %}
                                    <tr>
                                        <td>
                                            <p class="item-text">{{ category }}</p>
                                        </td>
                                        <td>
                                            <p class="item-text-red">R$ {{ value }}</p>
                                        </td>
                                    </tr>
                                {% endfor%}
                                <tr>
                                    <td>
                                        <p class="item-text-bold">Total de Saídas</p>
                                    </td>
                                    <td>
                                        <p class="item-text-red">R$ {{ total_n }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="item-text-bold">Resultado mensal</p>
                                    </td>

                                    <td>
                                        <p class="{% if m_result >= 0 %}item-text-green{% else %}item-text-red{% endif %}">
                                            R$ {{ m_result }}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="item-text-bold">Saldo Final em {{date}}</p>
                                    </td>
                                    <td>
                                        <p class="{% if balance >= 0 %}item-text-green{% else %}item-text-red{% endif %}">
                                            R$ {{ balance }}
                                        </p>
                                    </td>

                                </tr>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>