{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/validate_report.js' %}" defer></script>
    <div class="container">
        <div class="container">
            <p class="text-center">{{church_info.name}} - {{church_info.CNPJ}}</p>
            <p class="text-center">Gerar relatório analítico de {{month_in_text}} de {{year}}</p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-6 mb-4">
                        <form action="{% url 'treasury:create-monthly-report' %}" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" class="btn btn-primary" id="submitBtn">
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mb-4">
                        <div class="container text-justify">
                            <p> A data do relatório é sempre o último dia do mês correspondente às transações nele contidas.</p>
                        </div>
                        <div class="container"><p class="fw-normal">Transações Positivas</p></div>
                        <div class="container">
                            {% for key, value in p_transactions.items %}
                                <p class="fw-light">{{ key }} - R$ {{ value }}</p>
                            {% endfor %}
                            <p class="fw-bold text-success">Total: {{total_ptransactions}}</p>
                        </div>
                        <div class="container"><p class="fw-normal">Transações Negativas</p></div>
                        <div class="container">
                            {% for key, value in n_transactions.items %}
                                <p class="fw-light">{{ key }} - R$ {{ value }}</p>
                            {% endfor %}
                            <p class="fw-bold text-danger">Total: {{total_ntransactions}}</p>
                            <p>Resultado do mês: R$ {{monthly_result}}</p>
                        </div>
                        <div class="container text-justify">
                            <p>Você pode deixar esses campos em branco, mas caso preencha, é preciso que a soma do valor desses campos seja igual ao do saldo final.</p>
                            <div class="fw-bold text-danger" id="field_status"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}