{% load static %}
{% if perms.treasury.add_transactionmodel %}
  {% if not form_balance %}
    <form
      x-data
      @submit.prevent="addTransaction($event)"
      id="transaction_form"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-3">
        {{ form_transaction }}
      </div>
      <div class="d-grid gap-2">
        <input type="submit" class="btn btn-primary" value="Salvar" />
        <input type="reset" class="btn btn-warning" value="Limpar" />
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <a href="{% url 'treasury:category-form' %}" class="btn btn-secondary btn-sm me-2">Adicionar Categoria</a>
        <a href="{% url 'treasury:list-categories' %}" class="btn btn-secondary btn-sm">Listar Categorias</a>
      </div>
    </form>
  {% else %}
    <p class="text-center mb-3">Você deve adicionar a primeira transação...</p>
    <p class="text-justify small">
      Antes de registrar sua primeira transação no sistema de gerenciamento
      financeiro da igreja, é fundamental definir um 'saldo inicial'. Esse saldo
      representa o ponto de partida para as finanças da organização e deve
      corresponder ao saldo no último dia do mês desejado. Isso garante que o
      sistema comece com uma base precisa e ajuda a manter um registro financeiro
      consistente e atualizado.
    </p>
    <form action="{% url 'treasury:create-initial-balance' %}" method="POST">
      {% csrf_token %}
      {{ form_balance }}
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="reset" class="btn btn-warning">Limpar</button>
      </div>
    </form>
  {% endif %}
{% endif %}

