{% extends 'core/base.html' %}
{% load static%}

{% block content %}
<div class="container text-center">
    <p class="fs-3 fw-light">Transação atualizada</p>
</div>
{%if form %}
<div class="container">
            <div class="col-md-6">
            <div class="card py-3 px-5">
                <form action="{% url 'treasury:transaction-detail' transaction.id %}" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" class="btn btn-primary my-3">
                </form>
            </div>
        </div>
</div>
{% endif %}
{% endblock %}